src
test
tsconfig.json
tsconfig.module.json
tslint.json
.travis.yml
.github
.prettierignore
.vscode
build/docs
**/*.spec.*
coverage
.nyc_output
*.log
.editorconfig
.nvmrc
.prettierrc
demo
import-sorter.json
jest.config.js

